fastapi
uvicorn[standard]
google-generativeai
requests
pydantic
httpx
python-multipart
pdfminer.six
python-docx
beautifulsoup4
piper-tts
edge-tts
beautifulsoup4
edge-tts
fastapi
google-generativeai
httpx
pdfminer.six
pydantic
python-docx
python-multipart
requests
uvicorn[standard]
fastapi
firebase-admin
google-generativeai
httpx
pydantic
uvicorn[standard]
beautifulsoup4
edge-tts
fastapi
firebase-admin
google-generativeai
httpx
pdfminer.six
pydantic
python-docx
python-multipart
requests
uvicorn[standard]
beautifulsoup4
edge-tts
fastapi
firebase-admin
google-generativeai
httpx
pdfminer.six
pydantic
python-docx
python-multipart
requests
uvicorn
anthropic
beautifulsoup4
edge-tts
fastapi
firebase-admin
google-generativeai
httpx
openai
pdfminer.six
pydantic
python-docx
python-multipart
requests
uvicorn[standard]
